* {
  text-align: center;
  color: rgb(231,230,229)
}

body {
  background-color: rgb(20,21,22);
  /* background-color: white; */

}

h1 {
  font-size: 50px;
  margin-top: 40px;
  margin-bottom: 70px;
}